* {
	box-sizing: border-box;
}

/* Slideshow container */
.slideshow-container {
	max-width: 1000px;
	position: relative;
	margin: 0 auto;
}

.mySlides {
	display: none;
}

.mySlides img {
	width: 100%;
	height: 600px;
}

/* Next & previous buttons */
.prev, .next {
	cursor: pointer;
	position: absolute;
	top: 0;
	bottom: 0;
	width: auto;
	padding: 30% 20px;
	margin-bottom: 22px;
	color: black;
	font-weight: bold;
	font-size: 35px;
	transition: all .6s ease, color 0.35s ease;
	background: rgba(0, 0, 0, 0.1);
}

/* Position the "next buton" to the right */
.next {
	right: 0;
}

/* prev and next hover effects*/
.prev:hover, .next:hover {
	background-color: rgba(0, 0, 0, 0.4);
	color: white;
}

/* Caption text */
.caption-text {
	color: black;
	font-size: 20px;
	padding: 8px 12px;
	position: absolute;
	bottom: 20px;
	border-top: 8px;
	width: 100%;
	text-align: center;
}

/* Number text (1/4 etc) */
.number-text {
	color: skyblue;
	font-size: 20px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
	left: 55px;
}

/* dot */
.dot {
	cursor: pointer;
	height: 13px;
	width: 13px;
	margin: 0 2px;
	background-color: #bbb;
	border-radius: 50%;
	display: inline-block;
	transition: background-color: .6s ease;
}

/* dot hover effects */
.active, .dot:hover {
	background-color: #717171;
}

/* fading animation */
.fade {
	animation: fade 1.5s;
}

.dot-container {
	text-align: center;
}

@keyframes fade {
	from {
		opacity: .7;
	}
	to {
		opacity: 1;
	}
}