<div>
	<a routerLink="/">Home</a>
	<a routerLink="/blog">Blog</a>
	<a routerLink="/account">Account</a>
</div>

<router-outlet></router-outlet>
<!-- <app-user></app-user> -->
<!-- <app-username [username]="'chris'" (userClicked)="onUserwasClicked($event)"></app-username>
<app-username [username]="'Josh'" (userClicked)="onUserwasClicked($event)"></app-username>
<h1 [ngClass]="{updated: name !== 'Max'}">
  {{ name }}
</h1>
<p *ngIf="name != 'Max'">Name updated!</p>
<button (click)="onChangeName()">Change Name</button>
<button (click)="onAddElement()">New Element</button>
<ul>
	<li 
	[id]="'el' + el"
	[ngStyle]="{backgroundColor: getColor(el)}"
	*ngFor="let el of elements">{{ el }}</li>
</ul>
<input type="text" [(ngModel)]="message" />
<br>
{{ message }} -->